@model KitapTur


<form method="post">
    <!-- <form> etiketi, kullanıcıdan veri toplamak ve bu veriyi bir sunucuya göndermek için kullanılır. Burada method="post" özelliği ile form verilerinin, HTTP POST metodu kullanılarak sunucuya gönderileceği belirtilmiştir. POST metodu, form verilerini URL'de görünmeden gönderir ve genellikle veri göndermek veya güncellemek için kullanılır. -->

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Kitap Türü Ekle</h2>
            <hr /> <!-- yatay çizgi --> 
        </div>

        <div class="mb-3">
            <label asp-for="Ad"></label> 
            <input asp-for="Ad" class="form-control" /> <!-- ad için bir girdi aldığımızı gösteriyoruz -->
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div><!-- asp-validation-for: Bu özellik, hangi model özelliği için hata mesajlarının gösterileceğini belirtir. Bu durumda, Ad isimli model özelliği için doğrulama hatalarını yakalar. -->
        <!-- validation = doğrulama -->
        <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Kitap Türü Ekle</button>
        <a asp-controller="KitapTuru" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">Kitap Türlerine Geri Dön</a>
    </div>

    
</form>


